{% extends "ADMIN/adminindex.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="post">
  <div align="center">
  <h2>ADD BATCH</h2><br>
    <table class="table table-responsive">
      <tr>
        <th height="66" scope="row">BATCH_NAME</th>
        <td><label for="textfield"></label>
        <input type="text" name="textfield" id="textfield" class="form-control"/></td>
      </tr>
        <tr>
        <th height="66" scope="row">TIME</th>
        <td><label for="textfield1"></label>
        <input type="time" name="textfield1" id="textfield1" class="form-control"/></td>
      </tr>
      <tr>
          <th></th>
        <th height="39" scope="row"><br><input type="submit" name="button" id="button" value="ADD" class="btn btn-dark" /></th>
      </tr>
  </table>
  </div>
</form>
</body>
</html>
{% endblock %}