{% extends "ADMIN/adminindex.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="get"><table class="table table-condensed">
  <tr>
    <th scope="col">#</th>
    <th scope="col">NAME</th>
    <th scope="col">ADDRESS</th>
    <th scope="col">PHONE</th>
    <th scope="col">PROFILE</th>
    <th scope="col">EMAIL_ID</th>
      <th></th>
    </tr>
    {% for i in data %}
  <tr>
    <td>{{ loop.index }}</td>
    <td>{{ i['name'] }}</td>
    <td>house name:{{ i['house name'] }}<br>place:{{ i['place'] }}<br> Post:{{ i['post'] }}
   pin: {{ i['pin'] }}</td>
    <td>{{ i['phone'] }}</td>
    <td><img src="{{ i['pic'] }}" width="50"></td>
    <td>{{ i['email'] }}&nbsp;</td>
  <td><a href="/editphysician/{{ i['id'] }}">edit</a><br>

  <a href="/deletephysician/{{ i['id'] }}">delete</a></td>
    </tr>
    {% endfor %}
</table>
</form>
</body>
</html>
{% endblock %}