{% extends "ADMIN/adminindex.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="get">
  <div align="center">
    <table class="table table-condensed">
      <tr>
        <th width="94" height="64" scope="col">#</th>
        <th width="79" scope="col">NAME</th>
        <th width="136" scope="col">ADDRESS</th>
        <th width="85" scope="col">PHONE</th>
        <th width="86" scope="col">PROFILE</th>
        <th width="99" scope="col">EMAIL_ID</th>
        <th width="107"></th>
      </tr>
      {% for i in data %}
      <tr>
        <td height="247">{{ loop.index }}</td>
        <td>{{ i['name'] }}</td>
        <td>house name:{{ i['house name'] }}Place:{{ i['place']}}<br> Post:{{  i['post'] }}<br>
        Pin:{{ i['pin'] }}</td>
        <td>{{ i['phone'] }}</td>
        <td><img src=" {{ i['pic'] }}" width="50"></td>
        <td>{{ i['email'] }}</td>
        <td><a href="/editgym/{{ i['id'] }}">edit</a><br/>
          <a href="/deletegym/{{ i['id'] }}">delete</a>
        </td>
      </tr>
      {% endfor %}
  </table>
  </div>
</form>
</body>
</html>
{% endblock %}