{% extends "GYM_INSTRUCTOR/gymindex.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="post">
  <div align="center">
    <h2>COMPLAINT SEND</h2>
    <table class="table table-borderless">
      <tr>
        <th scope="row">COMPLAINTS</th>
        <td><label for="textarea"></label>
          <textarea name="textarea" id="textarea" cols="45" rows="5" class="form-control"></textarea>
        </td>
      </tr>
      <tr>
          <th></th>
        <th  scope="row"><br><input type="submit" name="button" id="button" value="SEND" class="btn btn-dark" /></th>
      </tr>
  </table>
  </div>
</form>
</body>
</html>
{% endblock %}