{% extends "USER/USER_INDEX.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>physical measurements</title>
</head>
<style>
    h2{
     margin-left:250px;
     margin-right:10px
   }
   </style>
<body>
    <h2 >ADD MEASUREMENT</h2><br>
    <div style="margin-left: 120px;margin-right: 0%;">
    <form method="post" action="">
        <label for="height">Enter your current height:&nbsp;</label>
        <input type="text" name="height" pattern="\d+" title="Enter only in digits" placeholder="Enter in cm" required><br>
        <br>
        <label for="weight">Enter your current Weight:&nbsp;</label>
        <input type="text" name="weight" pattern="\d+" title="Enter only in digits" placeholder="Enter in kg" required ><br>
        <br>
        <label for="measure_date">Measurement Date:&nbsp;</label>
        <input type="date" name="measure_date" required><br>
        <br>
        <input type="submit" value="Add" class="btn btn-dark" style="margin-left: 200px;margin-right: 0%;">
    </form>
    </div>
</body>
</html>
{% endblock %}