{% extends "USER/USER_INDEX.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Doubts reply</title>
</head>
<body>
    <div align="center">
    <h1>Doubts from {{ session['n'] }}</h1><br>
    {% if data %}
        <table class="table table-condensed">
            <tr>
                <th></th>
                <th>Date</th>
                <th>Doubts</th>
                <th>Reply</th>
                <th>Reply Date</th>
            </tr>
            {% for i in data %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ i['DATE' ] }}</td>
                    <td>{{ i['DETAILS'] }}</td>
                    <td>{{ i['REPLY'] }}</td>
                    <td>{{ i['REPLY_DATE'] }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No doubts found.</p>
    {% endif %}
    </div>
</body>
</html>
{% endblock %}